name: "Call Dependabot reviewer"

on:
  pull_request_target:

permissions:
  pull-requests: write
  contents: write

jobs:
  shared-workflows:
    uses: Sundsvallskommun/.github/.github/workflows/common-dependabot-reviewer.yml@dependabot/github_actions/main/actions/setup-java-5
    secrets: inherit
